<footer id="footer">
    <div id="fastSearch">
           <input id="searchInput" tabindex="0" placeholder="Search:"/>
           <ul id="searchResults"></ul>
           
        </div>
        <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
        <script src="/js/fastsearch.js"></script>
    <div class="container">

    {{ if isset .Site.Params "about_us" }}
    <div class="col-md-4 col-sm-6">
        <h4>{{ i18n "aboutUs" }}</h4>

        {{ .Site.Params.about_us | safeHTML }}

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-4 -->
    {{ end }}

    <div class="col-md-4 col-sm-6">

        {{ if isset .Site.Params "recent_posts" }}{{ if (default true .Site.Params.footer.recent_posts.enable) }}
        <h4>{{ i18n "recentPosts" }}</h4>

        <div class="blog-entries">
            {{ range first 2 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            <div class="item same-height-row clearfix">
                
                <div class="image same-height-always">
                    <a href="{{ .Permalink }}">
                      {{ if isset .Params "banner" }}
                        <img src="{{ .Params.banner | relURL }}" class="img-responsive" alt="{{ .Title }}">
                      {{ else }}
                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="{{ .Title }}">
                      {{ end }}
                    </a>
                </div>
                
                <div class="name same-height-always">
                    <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                </div>
            </div>
            {{ end }}
        </div>

        <hr class="hidden-md hidden-lg">
        {{ end }}{{ end }}

    </div>
    <!-- /.col-md-4 -->

    {{ if isset .Site.Params "address" }}
    <div class="col-md-4 col-sm-6">

      <h4>{{ i18n "contactTitle" }}</h4>

        {{ .Site.Params.address | safeHTML }}

        <a href="{{ default "/contact" .Site.Params.contact_url }}" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-4 -->
    {{ end }}

</div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            <p class="pull-right">
              <a href="https://beian.miit.gov.cn/" target="_blank">浙ICP备17045600号</a>
              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->
              <!--{{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.-->
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
