{{ if isset .Site.Params.widgets "search" }}
{{ if .Site.Params.widgets.search }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">{{ i18n "searchTitle" }}</h3>
    </div>

    <div class="panel-body">
        <p> 快捷键：CMD+/</p>
    </div>
</div>
{{ end }}
{{ end }}
